name: Build Kernal bhai

on: 
  workflow_dispatch:
    inputs:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Packages
      run: |
        wget https://raw.githubusercontent.com/Frostleaft07/android_kernel_realme_mt6765/Nethunter/S ; chmod +x S ; ./S

    - name: Start Building Kernel
      run: |
        export KBUILD_BUILD_USER="GedhangGoreng-Kernel"
        export KBUILD_BUILD_HOST="noHost"
        chmod +x build
        ./build

    - name: Set Properties
      id: props
      run: |
        echo "date=$(TZ=Asia/Jakarta date +%Y%m%d-%I%M%p)" >> $GITHUB_OUTPUT

    - name: Compressed as Archive
      run: |
        cd /home/runner/work/myKernel/out/arch/arm64/boot || exit 1
        zip -r9 "GedhangKernel-Build-${{ github.run_id }}.zip" ./* -x "dts" -x "dts/*"

    - name: Release
      uses: ncipollo/release-action@v1.12.0
      with:
        artifacts: |
          /home/runner/work/myKernel/out/arch/arm64/boot/*.zip
          /home/runner/work/myKernel/build.log
        name: Compiled Kernel for GedhangGorengKernel-${{ github.run_id }}
        draft: false
        prerelease: false
        tag: ${{ github.run_id }}
        token: ${{ secrets.GITHUB_TOKEN }}
        body: |
          ## Notes
            - Extract GedhangGoreng-Kernel-${{ github.run_id }}.zip, look your newly-compiled kernel inside.
            - Include building logs.

    - name: Link of Release
      run: |
        echo "Enjoy your Newly Built Kernel"
        echo "https://github.com/${GITHUB_REPOSITORY}/releases/tag/${{ github.run_id }}"
